:root {
    --branding-color:#885df1;
    --secondary-color:#f9f7fe;
    --default-color: #f9f9f9;
    --heading-font-family: 'Alegreya', serif;
    --default-font-family: 'Jost', sans-serif;
    --box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
}

body{
    font-family: var(--default-font-family);
}

h1 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
    text-transform: capitalize;
}

h2,
h3,
p {
    font-family: var(--default-font-family);
}


.home-hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
    
.home-hero h2 {
    font-size: 20px;
    line-height: 1.5;
    color: 272142;
    text-align: center;
}

.background-color {
    background-color: var(--secondary-color);
}

.content-container {
  padding: 60px 20px;  
}

.content-container h1 {
    font-size: 64px;
    line-height: 80px;
}

.content-container h2 {
    font-size: 18px;
    line-height: 1.5;    
}

.content-container p {
    line-height: 2;
}

.content {
    margin: 0 auto;
}

.img-fluid-nancy {
    display: flex;
    justify-items: center;
    width:60%;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 15px;
    color: white;
    text-decoration: none;
    line-height: 27px;
    font-size: 28px;
    padding: 20px 128px;
}

.btn-branding:hover {
    background-color:var(--secondary-color);
    color: var(--branding-color);
    border: solid 1px var(--branding-color);
}

.img-thumbnail {
    padding: 30px;
    background-color:var(--secondary-color);
    border-radius: 4px;
    max-width: 100%;
    height: auto
}

.body-of-work {
    background-color: var(--default-color);
    border-radius: 15px;
    padding: 70px 60px;
    margin: 100px auto;
    box-shadow: var(--box-shadow);

}

.body-of-work h2 {
    font-size: 40px;
}

.body-of-work p {
    font-size: 20px;
}

.body-of-work a,
.head-section a {
    text-decoration: none;
    color:white;
    background-color: var(--branding-color);
    border: solid 1px var(--branding-color);
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
    box-shadow: var(--box-shadow);
}

.body-of-work a:hover,
.head-section a:hover {
    color:var(--branding-color);
    background-color: var(--secondary-color);
    
}

.head-section {
    background-color: var(--secondary-color);
    padding: 50px;
    display: block;
    text-align: left;
    margin: 50px;
}

.head-section .nancy-photo {
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.head-section h1 {
    font-size:90px;
}

.head-section h2 {
    font-size: 32px;
}

.head-section p {
    font-size: 16px;
}

.images {
    margin: 70px 0;
}

.nav-bar-brand {
    font-size: 60px; 
    text-decoration: none;
}

nav {
    padding: 10px 0;
}

nav ul {
    padding: 40px;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 50px;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}

nav a:hover, 
nav li.active a {
    color: var(--branding-color);
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
}

footer .email-link:hover {
    color: var(--branding-color);
}

footer .social-links a {
    text-decoration: none;
    margin: 0 20px;
    color: var(--branding-color);
    font-size: 30px;
}

footer .social-links i:hover {
    transform: scale(1.5);
    transition: all 100ms ease-in-out;
}



@media (max-width: 900px) {
    h1 {
        font-size: 50px;
        line-height: 1.5;
    }

    h2 {
        font-size: 44px;
    }

    .home-hero {
        padding: 80px 20px;
    }

    .btn-branding {
       font-size: 20px; 
       padding: 20px 50px;
    }

    .img-thumbnail {
        margin: 20px 30px 0 auto;
    }

    .about-section {
        text-align: center;
        padding: 30px;
    }
}
    