:root {
    --branding-color:#885df1;
    --secondary-color:#f9f7fe;
    --heading-font-family: 'Alegreya', serif;
    --default-font-family: 'Jost', sans-serif;
    --box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
}

body{
    font-family: var(--default-font-family);
}

h1 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
    text-transform: capitalize;
}

h2 {
    font-family: var(--default-font-family);
}


.home-hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
    
.home-hero h2 {
    font-size: 20px;
    line-height: 1.5;
    color: 272142;
    text-align: center;
}

.about-section {
  padding: 160px 20px;  
}

.about-section h1 {
    font-size: 64px;
    line-height: 80px;
}

.about-section h2 {
    font-size: 18px;
    line-height: 1.5;    
}

.about-section p {
    line-height: 2;
}

.about-section-content {
    margin: 30px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 15px;
    color: white;
    text-decoration: none;
    line-height: 27px;
    font-size: 28px;
    padding: 20px 128px;
}

.btn-branding:hover {
    background-color:var(--secondary-color);
    color: var(--branding-color);
    border: solid 1px var(--branding-color);
}

.img-thumbnail {
    padding: 30px;
    background-color: #f9f7fe;
    border-radius: 4px;
    max-width: 100%;
    height: auto
}

.project-container {
    background-color:#f9feff;
    border-radius: 15px;
    padding: 70px 60px;
    margin: 100px auto;
    box-shadow: var(--box-shadow);

}

.project-container h2 {
    font-size: 40px;
}

.project-container p {
    font-size: 20px;
}

.project-container a {
    text-decoration: none;
    color:white;
    background-color: var(--branding-color);
    border: solid 1px var(--branding-color);
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
    box-shadow: var(--box-shadow);
}

.project-container a:hover {
    color:var(--branding-color);
    background-color: #f9feff;
    
}

@media (max-width: 900px) {
    h1 {
        font-size: 50px;
        line-height: 1.5;
    }

    h2 {
        font-size: 44px;
    }

    .home-hero {
        padding: 80px 20px;
    }

    .btn-branding {
       font-size: 20px; 
       padding: 20px 50px;
    }

    .img-thumbnail {
        margin: 20px 30px 0 auto;
    }

    .about-section {
        text-align: center;
        padding: 30px;
    }
}
    